# --- SECTORS & KEYS (Nunca subas esto) ---
*.pem
*.key
*.tfvars

# --- TERRAFORM ---
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# --- PYTHON ---
__pycache__/
.venv/
*.py[cod]

# --- LOGS & RUNTIME DATA (Datos generados en ejecución) ---
*.log
data/alerts.json
data/blacklist.txt
dist/

# --- IDE & SISTEMA ---
.DS_Store
.vscode/
